<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring的xml配置bean方式 -->
    <bean id="userOneByXml" class="com.zsun.springboot.bean.User">
        <property name="name" value="张三"></property>
        <property name="age" value="18"></property>
        <property name="pet" ref="petOneByXml"></property>
    </bean>

    <bean id="petOneByXml" class="com.zsun.springboot.bean.Pet">
        <property name="name" value="cat"></property>
    </bean>
</beans>